/* Centraliza o widget do DiagrammeR */
.center-diagram {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;   /* diminui espaço entre texto e fluxograma */
  margin-bottom: 0px;
}

/* Faz o widget ocupar a largura toda */
.center-diagram .html-widget {
  width: 100% !important;
  max-width: 2500px;   /* você pode aumentar pra 2500px se quiser */
  margin: 0 auto !important;
}

/* Força o SVG interno a expandir */
.center-diagram svg {
  width: 200% !important;
  height: auto !important;
}
